<h1></h1>
<form [formGroup]="event_data_form">
    <mat-form-field style="width:30% !important;" appearance="outline">
        <mat-label>Please select a Event</mat-label>
        <mat-select (selectionChange)="onEventSelect()" placeholder="Reason" formControlName="event_id">
            <mat-option>Select Event</mat-option>
            <mat-option *ngFor="let event of event_list" [value]="event">{{event}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="event_data_form.get('event_id').errors && event_data_form.get('event_id').errors.required">
            Please Select a event
        </mat-error>
    </mat-form-field>
    <span *ngIf="status_Message" style="color: #00b140; padding-left: 20px">{{status_Message}}</span>
    <span *ngIf="error_Message" style="color: red; padding-left: 20px">{{error_Message}}</span>
    <br>
    <ng-container *ngIf="event_data_form.get('event_id').value">
        <mat-form-field style="width:30% !important;" appearance="outline">
            <mat-label>Participated Count</mat-label>
            <input matInput placeholder="Participated Count" formControlName="participated_count">
        </mat-form-field>
        <mat-form-field style="width:30% !important;padding-left: 30px" appearance="outline">
            <mat-label>Submitted Rating</mat-label>
            <input matInput placeholder="Submitted Rating" formControlName="submitted_rating">
        </mat-form-field>
        <br>
        <mat-form-field style="width:30% !important;" appearance="outline">
            <mat-label>Unregistered Count</mat-label>
            <input matInput placeholder="Unregistered Count" formControlName="unregistered_count">
        </mat-form-field>
        <mat-form-field style="width:30% !important;padding-left: 30px" appearance="outline">
            <mat-label>Submitted Reason Count</mat-label>
            <input matInput placeholder="Submitted Reason Count" formControlName="submitted_reason_ur">
        </mat-form-field>
        <br>
        <mat-form-field style="width:30% !important;" appearance="outline">
            <mat-label>Failed To Attend Count</mat-label>
            <input matInput placeholder="Failed To Attend Count" formControlName="failed_to_attend_count">
        </mat-form-field>
        <mat-form-field style="width:30% !important;padding-left: 30px" appearance="outline">
            <mat-label>Submitted Reason Count</mat-label>
            <input matInput placeholder="Submitted Reason Count" formControlName="submitted_reason_ur">
        </mat-form-field>
        <br>
    </ng-container>
    <button mat-raised-button class="custom-button-green" (click)="triggerEmailBatch()">Trigger Email Batch</button>
    &nbsp;
    <button mat-raised-button class="custom-button-gray" (click)="resetForm()">Reset</button>
    <br><br><br><br>
</form>